/* можно просто @media с указанием размера */
@media (max-width: 360px) {
  .brands__box {
    overflow: scroll;
  }
  .brands__btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .brands__box {
    overflow: hidden;
  }
}
